@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="link-secondary" asp-controller="Member" asp-action="Index">See our Members here </a>
    <img class="img-fluid" src="~/images/photo-1556745753-b2904692b3cd (1).jpg" />

</div>*@



<div style="background: url('/images/photo-1556745753-b2904692b3cd (1).jpg')" class="page-holder bg-cover p-0">

    <div class="container py-5">
        <header class="text-center text-white py-5">
            <h1 class="display-4 font-weight-bold mb-4">Welcome</h1>
            <p class="lead mb-0">To see the club members click below:</p>
            <a class="link-secondary" asp-controller="Member" asp-action="Index">Members </a>
        </header>
    </div>
</div>